<div ng-controller="manageCategory">
	<div class = "page-header">
		<h3 style="color: #666699;">Departments List</h3>
	</div>
	<table class="table table-hover">
		<thead>
			<tr><th>Department Name</th><th>Edit</th><th>Delete</th></tr>
		</thead>
		<tbody>
									<!-- <?php 
										if($numrows > 0) {
											while($row = mysql_fetch_assoc($query)) {
											$dbdept_name = $row['dept_name'];
											
											echo '<tr>' . '<td>' . $dbdept_name . '</td>'  . 
											'<td>'.'<a href= show_subject.php?hello='.urlencode($dbdept_name).'>Update</a>' .'</td>'.'<td>'. '<a href= manage_category.php?hello='.urlencode($dbdept_name).'>Delete</a>' .'</td>'.'</tr>';  
											}				
										}
									?> -->
		</tbody>	
	</table>
</div>	