<div ng-controller="purchaseController">
	<div class = "page-header">
		<h3 style="color: #993366;" >Purchases</h3>
	</div>
	<table class="table table-hover">
		<thead>
			<tr><td><b>Username</b></td><td><b>Product Id</b></td><td><b>Product Name</b></td><td><b>Quantity</b></td><td><b>Cost</b></td><td><b>Date Purchased</b></td></tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in data">
				<td>{{x.username}}</td>
				<td>{{x.prod_id}}</td>
				<td>{{x.prod_name}}</td>
				<td>{{x.qty}}</td>
				<td>{{x.cost}}</td>
				<td>{{x.pur_date}}</td>
			</tr>
		</tbody>
	</table>
</div>